---
layout: default
title: Studies
description: Classwork and Studies
---


<section class="intro">

	<div class="wrap">
		<h1>Studies Gallery</h1>

        <p> Some personal studies along with some classwork from 
            <a href="https://www.cgmasteracademy.com/">CGMA</a>
        </p>
	</div>

	
</section>

<section class="portfolio">

    <div class="gallery" data-columns="3">
        {% for image in site.static_files%}
            {% if image.path contains 'images/studies' %}
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endif %}
        {% endfor %}
    </div>


    

</section>

<section class="portfolio">
    <h4 style="text-align: center;">Storyboarding</h4>
    <br />
	<div class="wrap">
		<div class="gallery" data-columns="1">
            <img src="/images/storyboarding/fight scene/1.jpg">
            <img src="/images/storyboarding/fight scene/2.jpg">
            <img src="/images/storyboarding/fight scene/3.jpg">
            <img src="/images/storyboarding/fight scene/4.jpg">
            <img src="/images/storyboarding/fight scene/5.jpg">
            <img src="/images/storyboarding/fight scene/6.jpg">
            <img src="/images/storyboarding/fight scene/7.jpg">
        </div>
	</div>
</section>

