---
layout: default
title: Studies
description: Studies and Classwork
---


<section class="intro">

	<div class="wrap">
		<h1>Studies Gallery</h1>

        <p> Some personal studies and classwork from 
            <a href="https://www.cgmasteracademy.com/">CGMA ^</a>
        </p>
	</div>

	
</section>

<section class="portfolio">

    <div class="gallery" data-columns="3">
        {% for image in site.static_files%}
            {% if image.path contains 'images/studies' %}
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endif %}
        {% endfor %}
    </div>


    

</section>



