---
layout: default
title: Portfolio
description: Jonadrew Portfolio
<!-- featured_image: /images/demo/demo-landscape.jpg -->
---

<section class="intro">

	<div class="wrap">

		<h1>Portfolio</h1>

		

	</div>

</section>

<section class="blog">

	<div class="content-wrap blog-wrap" data-columns="2">

		{% assign sorted-posts = site.photo_posts | sort: "order" %}
		{% for post in sorted-posts %}

		<article class="blog-post">

			<a class="blog-post__link" href="{{ post.url | relative_url }}">

				<div class="blog-post__image">
					<img src="{{ post.featured_image }}" alt="{{ post.title }}">
				</div>

				<div class="blog-post__content">
					<div class="blog-post__info">
						<h2 class="blog-post__title">{{ post.title }}</h2>
						<!-- <p class="blog-post__subtitle">{{ post.date | date_to_long_string }}</p> -->
					</div>
				</div>

			</a>

		</article>

		{% endfor %}

	</div>

	<div class="wrap">

		<p>Additional gallery: <a href="../pencil">Pencil Sketches</a>
	</div>

	<div class="wrap">
		<br />
		<h2>Weekly Wednesday Newsletter</h2>
		<p>See what I've been working on and hear some thoughts on making a living as an artist. Excited to have you! 
			Link to old posts: <a href="https://blog.jonadrew.com/profile">here.</a>
		</p>

		<br />
		<br />
		<center>
		{% include contact-form.html %}
		</center>
	</div>	


	<div class="wrap" align="center">
		<br/>
		<img class="imag" src="/images/v2/Bloom.png">
	</div>


	

</section>

<!-- <section class="portfolio">

	<div class="gallery" data-columns="3">
		{% for image in site.static_files reversed %}
			{% if image.path contains 'images/digitals' %}
				<img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			{% endif %}
		{% endfor %}
	</div>

</section> -->