---
layout: default
title: Digital Art
description: Digital Art Gallery
<!-- featured_image: /images/demo/demo-landscape.jpg -->
---

<section class="intro">

	<div class="wrap">

		<h1>Digital Art</h1>
		<p>Here's a recent collection of some of my favorite digital painting pieces!</p>

	</div>

</section>

<section class="portfolio">

	<div class="gallery" data-columns="3">
		{% for image in site.static_files reversed %}
			{% if image.path contains 'images/projects' %}
				<img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
			{% endif %}
		{% endfor %}
	</div>

</section>