<footer class="footer">

	<div class="wrap">

		{% if site.data.settings.footer_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="footer__logo">
			<img src="{{ site.data.settings.footer_settings.logo_image | relative_url }}" class="footer__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="footer__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} Jonadrew Illustration, LLC</span>
		</div>

		{% include socials.html %}

	</div>


	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9EJ57F76ZC"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-9EJ57F76ZC');
	</script>


</footer>