---
layout: default
title: Studies
description: Studies and Classwork
---


<section class="intro">

	<div class="wrap">
		<h1>Pencil Sketches</h1>

        <p> Drawing Practice
        </p>
	</div>

	
</section>

<section class="portfolio">

    <div class="gallery" data-columns="3">
        {% for image in site.static_files%}
            {% if image.path contains 'images/v2/pencil_sketches' %}
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endif %}
        {% endfor %}
    </div>


    

</section>



