---
layout: default
title: Unpublished Work
description: Secret Page
---


<section class="intro">

	<div class="wrap">
		<h1>Unpublished Works</h1>

        <p> Secret Page hehe
        </p>
	</div>

	
</section>

<section class="portfolio">

    <div class="gallery" data-columns="3">
        {% for image in site.static_files%}
            {% if image.path contains 'images/studies' %}
                <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
            {% endif %}
        {% endfor %}
    </div>
    

</section>



